* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.container {
  width: 100vw;
  height: 100vh;
  border: 1px solid black;

  background: url("./keegan-houser--Q_t4SCN8c4-unsplash.jpg") 40% 100%;
  /* background-position: 40% 10%; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

