{% extends 'base.html' %}
{% block title %}{{ customer.id if customer else "Add Customer" }}{% endblock %}

{% block content %}
<h2>{{ 'Edit Customer' if customer else 'Add New Customer' }}</h2>

<form method="POST">
  <div class="mb-3">
    <label>Customer Name</label>
    <input type="text" name="name" class="form-control" value="{{ customer.name if customer else '' }}" required>
  </div>
<div class="mb-3">
  <label>Phone Number</label>
  <input type="text" name="customer_number" class="form-control" value="{{ customer.customer_number if customer else '' }}">
</div>





 <!--<div class="mb-3">
    <label>Phone Number</label>
    <input type="text" name="customer_number" class="form-control" value="{{ customer.customer_number if customer else '' }}">
  </div>-->

  <button type="submit" class="btn btn-primary">
    {{ 'Update Customer' if customer else 'Add Customer' }}
  </button>
  <a href="{{ url_for('customer_list') }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
