{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <h2>Sell Device</h2>

    <div class="card mb-4">

        <div class="card-body">

            <h4>
                {{ device.variant.product.name }}
            </h4>

            <p>
                <strong>IMEI:</strong>
                {{ device.imei }}
            </p>

            <p>
                <strong>Grade:</strong>

                {% if device.grade %}
                    {{ device.grade.name }}
                {% else %}
                    No Grade
                {% endif %}
            </p>

            <p>
                <strong>Status:</strong>
                {{ device.status }}
            </p>

            <p>
                <strong>Price:</strong>
                {{ device.sell_price }}
            </p>

        </div>

    </div>

    <form method="POST">

        <!-- Customer Name -->
        <div class="mb-3">

            <label>Customer Name</label>

            <input type="text"
                   name="customer_name"
                   class="form-control"
                   required>

        </div>

        <!-- Customer Number -->
        <div class="mb-3">

            <label>Customer Number</label>

            <input type="text"
                   name="customer_number"
                   class="form-control"
                   required>

        </div>

        <!-- Original Price -->
        <div class="mb-3">

            <label>Original Price</label>

            <input type="text"
                   class="form-control"
                   value="{{ device.sell_price }}"
                   readonly>

        </div>

        <!-- Discount -->
        <div class="mb-3">

            <label>Discount</label>

            <input type="number"
                   step="0.01"
                   name="discount"
                   value="0"
                   class="form-control">

        </div>

        <!-- Final Button -->
        <button type="submit"
                class="btn btn-success">

            Complete Sale

        </button>

    </form>

</div>

{% endblock %}